@media (max-width: 766px) {
    .hide-desktop {
        display: block !important;
    }

    .header-top-nav {
        margin: 0;
        padding: 0;
        display: none;
    }

    .header_top_button {
        display: none !important;
    }

    a.hide-desktop {
        font-size: 26px;
        color: #0cbf0c;
    }


    /* siddebar hide show  */
    /* .main-sidebar {
        padding: 50px 6px;
        position: absolute;
        left: 100%;
        top: 0;
        background: red;
        z-index: 99;
        min-height: 100vh;
    } */
    .subcategory-list {
        margin-top: 0;
    }

    .subcategory-list ul li {
        padding: 0 6px;
    }

    .product-subcategory .category_name h4 {
        text-align: center;
    }
}

@media (max-width: 770px) {
    .main-sidebar {
        margin-top: 0 !important;
        padding-left: 30px !important;
        padding-right: 11px !important;
        height: 100%;
        width: 260px;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 9000;
        transform: translate(-260px);
        transition: transform 0.2s ease-in-out;
        /* position: absolute; */
        background: #fff;
        position: fixed;
        padding-top: 23px;
    }

    .siderbar_open {
        margin-top: 0 !important;
        padding-left: 30px !important;
        padding-right: 11px !important;
        height: 100%;
        width: 260px;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 9000;
        /* transform: translate(-260px); */
        transition: transform 0.2s ease-in-out;
        /* position: absolute; */
        background: #fff;
        position: fixed;
        padding-top: 23px;
    }

    #closeMobileSidebar {
        display: block;
        padding-right: 10px;
    }
}


/* responsive css for 1024px device  */
@media (width: 1024px) {
    .subcategory-list ul li {
        padding: 0 15px;
    }

    .header-top-nav ul li a {
        padding: 8px 8px;
    }
}

@media (width: 768px) {
    .category_name h4 {
        font-size: 19px;
    }

    .subcategory-list ul li {
        padding: 0 3px;
    }

    .subcategory-list a {
        font-size: 14px;
    }

    .header-top-nav ul li a {
        display: none;
    }
}


div#header_video {
    background: #f0f0f0;
}


